html {
    box-sizing: border-box;
    font-family: default;
}
  
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#board-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 360px;
    margin: 30px;
}

.board-square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merienda One', cursive;
    font-size: 80px;
    width: 120px;
    height: 120px;
    line-height: 120px;
}

.top, .mid {
    border-bottom: 3px solid black;
}

.left, .center {
    border-right: 3px solid black;
}