html {
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
}
  
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#main-heading {
    margin-top: 25px;
    color: #004466;
}

header, main {
    text-align: center;
}

h1 {
    font-size: 64px;
}

#board-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 360px;
    margin: 35px auto 50px auto;
}

.board-square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pangolin', cursive;
    font-size: 100px;
    width: 120px;
    height: 120px;
    line-height: 120px;
}

.top, .mid {
    border-bottom: 3px solid #004466;
}

.left, .center {
    border-right: 3px solid #004466;
}

#restart-game {
    margin-top: 20px;
    padding: 5px 15px;
    font-family: 'Pangolin', cursive;
    background-color: #004466;
    color: white;
}